<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <title>Cerebrum</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- jQuery and JS bundle w/ Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<div th:insert="header :: header"></div>
<style>
    #main-container {
        padding-top:7%;
    }
</style>
<div class="container" id="main-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <main role="main">
                <form sec:authorize="hasAnyRole('ADMIN','AUTHOR')"
                      th:action="@{/teach/courses}"
                      method="post" th:object="${course}">
                    <div class="form-group">
                        <label class="control-label" for="title"> Title </label>
                        <input id="title" class="form-control" th:field="*{title}"
                               required autofocus="autofocus" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="description"> Description Name </label> <input
                            id="description" class="form-control" th:field="*{description}"
                            required autofocus="autofocus" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Duration"> Duration (Approximate)</label> <input
                            id="duration" class="form-control" th:field="*{duration}" required
                            autofocus="autofocus" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="price"> Price (default for free) </label> <input
                            id="price" class="form-control" th:field="*{price}" required autofocus="autofocus" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Create course</button>
                    </div>
                </form>
            </main>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>